wp-content/uploads/.DS_Store
wp-content/uploads/2023/.DS_Store
wp-includes/.DS_Store
wp-includes/blocks/.DS_Store
wp-includes/images/.DS_Store
wp-includes/js/.DS_Store
wp-includes/Requests/.DS_Store
wp-includes/rest-api/.DS_Store
wp-includes/SimplePie/.DS_Store
wp-includes/sodium_compat/.DS_Store
.DS_Store
wp-content.zip
wp-admin/.DS_Store
wp-content/.DS_Store
wp-content/languages/.DS_Store
wp-content/plugins/.DS_Store
wp-content.zip
